[build-system]
requires = [
    "setuptools>=61.0",
]
build-backend = "setuptools.build_meta"

[project]
name = "livebench"
version = "0.0.4"
description = "A living benchmark for large language models."
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
]
dependencies = [
    "anthropic>=0.36,<1.0â€, "datasets", "levenshtein>=0.20.4", "lxml", "shortuuid",
]

[project.optional-dependencies]
flash_attn  = ["flash-attn"]

[project.urls]
"Homepage" = "https://github.com/livebench/LiveBench"
"Bug Tracker" = "https://github.com/livebench/LiveBench/issues"

[tool.setuptools.packages.find]
exclude = ["notebooks"]

[tool.wheel]
exclude = ["notebooks"]
